body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.testing {
  width: 50vw;
  height: 50vh;
  position: relative;
}

.modal-wrapper {
  position:fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(189, 189, 189, 0.9);
}
.modal-container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  max-width: 30rem;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  background-color: #fff;
}

.model-btn{
  padding: 0.6rem 1.4rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #212121;
  color: #fff;
  cursor: pointer;
  font-family: "Work Sans", sans-serif;
  transform: scale(0.9);
}

.model-btn:hover {
  background-color: #fff;
  color: #212121;
  border: #212121;
  transform: scale(1);
  transition: all;
}

.title{
  display: inline-block;
  width: 100%;
  font-family: 'poppins';
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  color: var(--black-1);

}